@model List<Database.Film.Film>

@{
    ViewBag.Title = "Films";
    ViewBag.container = " ";
    Layout = "_Layout";
}
<body>

<link rel="stylesheet" type="text/css" href="~/css/HomeIndex.css"/>
<link rel="stylesheet" type="text/css" href="~/css/SidebarMainBlocks.css"/>

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 3%; margin-top: 3%"><img src="~/images/FilmHubBlack.png" style="margin-bottom: 5px" width="220px" alt="FilmHub logo"> films</h1>
</div>

<div>
    <div class="dropdown" style="margin-bottom: 2%; text-align: right; margin-right: 10%">
            <button style="width: 120px" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @ViewBag.button
            </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href='@Url.Action("AllFilms", "Film", new {sort = "title"})'>Title</a>
            <a class="dropdown-item" href='@Url.Action("AllFilms", "Film", new {sort = "year"})'>Year</a>
            <a class="dropdown-item" href='@Url.Action("AllFilms", "Film", new {sort = "duration"})'>Duration</a>
            <a class="dropdown-item" href='@Url.Action("AllFilms", "Film", new {sort = "default"})'>Default</a>
        </div>
    </div>
</div>

<div id="sidebar">
    <form method="post">
        <h4 style="margin-bottom: 4%; text-align: center">Categories:</h4>
        <ul style="margin-left: -13px">
            @foreach (var categories in ViewBag.list)
            {
                <li>
                    <a href='@Url.Action("CurrentCategoryFilms", "Film", new {category = categories})'>
                        @Url.Content(categories)
                    </a>
                </li>
            }
        </ul>
    </form>
</div>

<div id="main">
    <form method="post">
        <div id="thumbs">
            @foreach (var film in Model)
            {
                <figure class="sign" style="display: inline-block; text-align: center; margin-right: 15px">
                    <a href='@Url.Action("CurrentFilm", "Film", new {image = film.Image})'>
                        <img style="border-radius: 10px; border: 1px solid #000000;" src='@Url.Content(film.Image)' height="330" width="220" alt="Film Image"/>
                    </a>
                    <figcaption style="text-align: center">@Url.Content(film.Title)</figcaption>
                </figure>
            }
            <span class="stretch"></span>
        </div>
    </form>
</div>
</body>
