@model Database.Film.Film

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<style>
    #sidebar{
        float: left;
        width: 280px;
        height: 480px;
    }
    
    #main{
        background-color: #ffffff;
        height: auto;
        margin-left: 31%;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/css/Comments.css"/>

<h2 style="margin-top: 6%; margin-bottom: 3%">@Model.Title</h2>
<div id="sidebar" style="margin-bottom: 25px">
    <img style="border-radius: 10px; border: 1px solid #000000" src="@Model.Image" height="420" width="280" alt="">
    <p></p>
    <a style="width: 145px" href='@Url.Action("AddToFavourite", "User", new {currentFilmImage = Model.Image})'>
        <button style="width: 145px" type="submit" class="btn btn-primary">Add to favourite</button>
    </a>
    <a style="width: 130px; float: right" href='@Url.Action("AddToBookmarks", "Film", new {filmImage = Model.Image})'>
        <button style="width: 130px" type="submit" class="btn btn-primary">Watch Later</button>
    </a>
</div>
<div id="main">
    <table class="table table-striped table-hover">
        <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th scope="row">Year</th>
            <td>@Model.Year</td>
        </tr>
        <tr>
            <th scope="row">Genre</th>
            <td>@Model.Genre</td>
        </tr>
        <tr>
            <th scope="row">Director</th>
            <td>@Model.Director</td>
        </tr>
        <tr>
            <th scope="row">Summary</th>
            <td>@Model.Summary</td>
        </tr>
        <tr>
            <th scope="row">Time</th>
            <td>@Model.Time</td>
        </tr>
        <tr>
            <th scope="row">Age</th>
            <td>@Model.Age+</td>
        </tr>
        <tr>
            <th scope="row">Country</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th scope="row">Actors</th>
            <td>
                @string.Join(", ", Model.Actors)
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 70px">
    <h2 align="center" style="margin-bottom: 20px">Trailer</h2>
    @if (ViewBag.unregisteredUser != "true" && DateTime.Now.Year - ViewBag.currentUserYearOfBirth >= Model.Age)
    {
        <iframe width="711" height="400" style="margin: 0 auto; display: block; border-radius: 7px" src="@Model.Trailer" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    }
    @if (ViewBag.unregisteredUser == "true")
    {
        <h5 align="center">First you need to <a href='@Url.Action("LogIn", "Registration")'>Log into</a> your account</h5>
    }
    @if (DateTime.Now.Year - ViewBag.currentUserYearOfBirth < Model.Age)
    {
        <h5 align="center">Sorry, but you are too young for such films. Come back here in the age of @Model.Age :)</h5>
    }
</div>

<!-- Comments -->

<div class="container mt-3 d-flex justify-content-center" style="font-family: 'Poppins', sans-serif">
    <div class="row d-flex justify-content-center" style="width: 100%; margin-top: 3%">
        <div class="col-md-8">
            <div class="text-left">
                <h6>All comments(@Model.Comments.Count)</h6>
            </div>
            @foreach (var comment in Model.Comments)
            {
                <div class="card p-3 mb-2" style="background: rgba(255,205,106,0.3); border-radius: 15px">
                    <div class="d-flex flex-row">
                        <img src="~/images/merilian.png" height="40" width="40" class="rounded-circle" style="margin-right: 10px">
                        <div class="d-flex flex-column ms-2">
                            <h6 class="mb-1 text-primary">
                                <a href='@Url.Action("ShowAnotherUserPersonalPage", "User", new {anotherUserEmail = comment.User.Email})'>
                                    @comment.User.FirstName @comment.User.LastName
                                </a>
                            </h6>
                            <p class="comment-text" style="font-size: 14px">@comment.Text</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-heart-o"></i> <span class="ms-1 fs-10">Like</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <span class="text-muted fw-normal fs-10">@comment.Time</span>
                        </div>
                    </div>
                </div>
            }
            <div>
                @using (Html.BeginForm("LeaveComment", "Film", FormMethod.Get))
                {
                    <div style="margin-bottom: 10px; margin-top: 15px">
                        <textarea rows="1" autocomplete="off" class="form-control mr-sm-2" type="text" name="comment" placeholder="Type a comment..." style="overflow: hidden;" aria-label="Comment"></textarea>

                    </div>
                    <div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="float: right">Leave a comment</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>