@model UserViewModel

@{
    ViewBag.Title = @Model.FirstName;
    Layout = "_Layout";
}

<h2 align="center">@Model.FirstName</h2>
@*<table class="table table-striped table-hover">
	<tbody>
	<tr>
		<th scope="row">Title</th>
		<td>@Model.Email</td>
	</tr>
	<tr>
		<th scope="row">Year</th>
		<td>@Model.</td>
	</tr>
	<tr>
		<th scope="row">Genre</th>
		<td>@Model.Genre</td>
	</tr>
	<tr>
		<th scope="row">Director</th>
		<td>@Model.Director</td>
	</tr>
	<tr>
		<th scope="row">Summary</th>
		<td>@Model.Summary</td>
	</tr>
	<tr>
		<th scope="row">Time</th>
		<td>@Model.Time</td>
	</tr>
	<tr>
		<th scope="row">Age</th>
		<td>@Model.Age+</td>
	</tr>
	<tr>
		<th scope="row">Country</th>
		<td>@Model.Country</td>
	</tr>
	<tr>
		<th scope="row">Actors</th>
		<td>
			@string.Join(", ", Model.Actors)
		</td>
	</tr>
	</tbody>
</table>*@

<h4>@Model.FirstName favourites</h4>
@foreach (var film in @Model.Favourite)
{
    <p><a href='@Url.Action("CurrentFilm", "Film", new {image = film.Image})'>@film.Title</a></p>
}
