@model UserViewModel

@{
    ViewBag.Title = @Model.FirstName;
    Layout = "_Layout";
}

<h2 align="center">@Model.FirstName</h2>
<h4>@Model.FirstName favourites</h4>
@foreach (var film in @Model.Favourite)
{
    <p><a href='@Url.Action("CurrentFilm", "Film", new {image = film.Image})'>@film.Title</a></p>
}
